
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

#Umbraco

#TEMP
Umbraco/App_Data/Logs/*
Umbraco/App_Data/Logs/*
Umbraco/App_Data/Logs/*.*
Umbraco/App_Data/Logs/*.*
Umbraco/App_Data/TEMP/
Umbraco/App_Data/TEMP/*/*.*
Lawbox.PublicSite.Web/tmp/*.cache

#Specific DpbSite

#TEMP
Lawbox.PublicSite.Web/App_Data/TEMP/*/*.*
Lawbox.PublicSite.Web/App_Data/TEMP/*/*.*
Lawbox.PublicSite.Web/App_Data/TEMP/*/*/*.*
Lawbox.PublicSite.Web/App_Data/TEMP/*/*/*/*.*
Lawbox.PublicSite.Web/App_Data/Logs/*.*
Lawbox.PublicSite.Web/App_Data/TEMP/*/*/*
Lawbox.PublicSite.Web/App_Data/NuGetBackup/*/*/*.*
Lawbox.PublicSite.Web/App_Data/NuGetBackup/*/*/*/*.*
Lawbox.PublicSite.Web/Images/*.*

#Config
DpbSite.Api/app.config
DpbSite.Application/app.config
DpbSite.Application.Tests/app.config
DpbSite.Entities/app.config
DpbSite.EntityFramework/app.config
DpbSite.Service/app.config
DpbSite.Entities/App.config
Lawbox.PublicSite.Web/Web.config
Lawbox.PublicSite.Web/Web.Debug.config
Lawbox.PublicSite.Web/Web.Release.config
SqlScripts/SqlDBVersionningTool.exe.config

#Node Modules (FE Things)
Lawbox.PublicSite.Web/node_modules/

#Sass
Lawbox.PublicSite.Web/.sass-cache/


Lawbox.PublicSite.Web/Web.*.config
